<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>


<!--    <link rel="stylesheet" href="../../css/dmaku.css">-->
<!--    <script src="../../js/jquery.js"></script>-->
<!--    <script src="../../js/verificationNumbers.js" ></script>-->
<!--    <script src="../../js/Particleground.js" ></script>-->

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link href="../../css/basic.css" rel="stylesheet">
    <link href="../../css/custom.css" rel="stylesheet">
    <link href="../../css/my.css" rel="stylesheet">
    <link href="../../css/element/index.css" rel="stylesheet">

    <script>
        $(document).ready(function (){
            $('body').particleground({
                dotColor: '#5cbdaa',
                lineColor: '#5cbdaa'
            });
        });
    </script>


</head>
<body>
<div id="app" class="container" >

    <div class="row text-center" style="padding-top: 100px">

        <div class="col-md-12 admin_login">
            <h2>欢迎登陆后台管理</h2>
        </div>

    </div>
<!--    col-md-4    col 行占比-->
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="panel-body">
            <form role="form">
<!--                <p>{{user.name}}</p>-->
<!--                <p>{{user.password}}</p>-->
                <hr/>
                <br/>

                <div class="input-group form-group">
                    <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                    <input type="text"  class="form-control" v-model="user.name" placeholder="用户名">
                </div>

                <div class="input-group form-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password"  class="form-control" v-model="user.password" placeholder="密码">
                </div>

                <div class="form-group">
                    <label class="checkbox-inline"></label>
                    <span class="pull-right">  <a href="javascipt:void(0)" @click="reset">忘记密码？</a>
                    </span>
                </div>

                <div style="text-align: center">
                    <a href="javascript:void (0)" @click="login" class="btn btn-primary">登录</a>
                </div>



                <hr/>
            </form>
        </div>
    </div>
</div>



<script src="../../js/jquery-1.10.2.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.metisMenu.js"></script>
<script src="../../js/custom.js"></script>
<script src="../../js/my.js"></script>

<script src="../../js/vue2.6.11/vue.min.js"></script>
<script src="../../js/vue2.6.11/axios.js"></script>

<script src="../../js/echarts.min.js"></script>
<script src="../../js/element/index.js"></script>
<script>

    // vue
    const app=new Vue({
        el:'#app',
        data:{
            user:{
                name:"",
                password:""
            }
        },
        //页面方法
        created: function (){

        },
        methods: {

            //登录

            login(){

                if (!this.user.name){
                    alert("请输入用户名");
                    return;
                }
                if (!this.user.password){
                    alert("请输入密码");
                    return;
                }
                axios.post('/login',this.user).then(res =>{

                    if (res.data.data.level === 1){
                        if (res.data.code === '0'){
                            //前端缓存 将user信息传过去
                            localStorage.setItem('user',JSON.stringify(res.data.data))
                            location.href='/end/page/index.html';
                        }else {
                            alert(res.data.msg);
                        }
                    }else {
                        alert("你的权限不够");
                    }



                });


            },
            reset(){
                if (!this.user.name){
                    alert("请输入用户名");
                    return;
                }
                axios.post('/resetPassword',this.user).then(res =>{
                    if (res.data.code === '0'){
                        alert("密码重置成功，密码为123456");

                    }else {
                        alert(res.data.msg);
                    }

                });
            }
        }
    });
</script>

</body>
</html>



































