<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link href="../../css/basic.css" rel="stylesheet">
    <link href="../../css/custom.css" rel="stylesheet">
    <link href="../../css/my.css" rel="stylesheet">
    <link href="../../css/element/index.css" rel="stylesheet">
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<!--  nav 为页面修饰  fa  为小图标    -->
<div id="wrapper" v-cloak>

    <nav class="navbar navbar-default navbar-cls-top" style="margin-bottom: 0">

    <div class="navbar-header">
       <a class="navbar-brand" href="index.html">后台管理系统 </a>
    </div>

    <div class="header-right">
        <a href="javascript:void(0)" class="btn btn-info" @click="logout" title="退出登录">
            <i class="fa fa-sign-out fa-2x"></i>
        </a>
    </div>

    <div class="header-right">
        <a href="accountUserInfo.html" class="btn btn-info"  title="跳转个人信息">
            <i class="fa fa-user fa-2x"></i>
        </a>
    </div>

    <div class="header-right" style="padding-top: 25px">
        欢迎你，{{user.nickname}}
    </div>

</nav>

<!--          左侧菜单              -->

    <nav class="navbar navbar-default navbar-side">

        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a class="active-menu" href="index.html"> <i class="fa fa-dashboard"> </i> 系统首页 </a>
                </li>

                <li>
                <a href="#"><i class="fa fa-yelp"></i> 信息展示 <span class="fa arrow"></span> </a>
<!--       class="active-menu" 现在处于那个页面             nav-second-level  二级下拉-->
                    <ul class="nav nav-second-level collapse in">
                        <li> <a href="userInfo.html"><i class="fa fa-table"></i>用户信息 </a> </li>
                        <li> <a href="advertiserInfo.html"> <i class="fa fa-table"></i> 公告信息</a></li>
                        <li> <a href="typeInfo.html"> <i class="fa fa-table"></i> 商品类别信息</a></li>
                        <li> <a href="goodsInfo.html"> <i class="fa fa-table"></i> 商品详情信息</a></li>
                        <li> <a href="orderInfo.html"> <i class="fa fa-table"></i>订单信息 </a></li>
                        <li> <a href="cartInfo.html"> <i class="fa fa-table"></i> 购物车信息</a></li>
                        <li> <a href="commentInfo.html"> <i class="fa fa-table"></i> 评论信息</a></li>
                        <li> <a href="seckillInfo.html"> <i class="fa fa-table"></i> 秒杀商品</a></li>

                    </ul>
                </li>
                <li> <a class="active-menu"  href="accountUserInfo.html"> <i class="fa fa-user"></i> 个人信息</a></li>
                <li> <a class="active-menu"  href="updatePassword.html"> <i class="fa fa-unlock-alt"></i> 修改密码</a></li>
                <li> <a href="javascript:void(0)" @click="logout()"> <i class="fa fa-power-off"></i> 退出登录</a></li>


            </ul>
        </div>

   </nav>
<!-- 右侧盒子 效果                       -->
    <div id="page-wrapper">
        <div id="page-inner">

            <div class="row">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        个人信息列表
                    </div>

                    <div class="panel-body">
                        <div class="table-responsive">

                            <form class="form-horizontal">
                                <input type="hidden" id="id" name="id" v-model="entity.id">

                                <div class="form-group">
                                    <div class="col-sm-3 control-label" > 原密码</div>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" v-model="entity.password" placeholder="请输入原密码">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3 control-label" > 新密码</div>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" v-model="entity.newpassword" placeholder="请输入新密码">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3 control-label" > 再次输入新密码</div>
                                    <div class="col-sm-7">
                                        <input type="password" class="form-control" v-model="entity.new2password" placeholder="再次输入新密码">
                                    </div>
                                </div>



                            </form>

                            <div style="text-align: center">
                                <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="updatePassword()" >提交</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>


</div>



<script src="../../js/jquery-1.10.2.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/jquery.metisMenu.js"></script>
<script src="../../js/custom.js"></script>
<script src="../../js/my.js"></script>

<script src="../../js/vue2.6.11/vue.min.js"></script>
<script src="../../js/vue2.6.11/axios.js"></script>

<script src="../../js/echarts.min.js"></script>
<script src="../../js/element/index.js"></script>

<script>

    function msg(type,msg){
        Vue.prototype.$message({
            type:type,   //succes成功  waring警告  error错误
            message:msg,
            duration:2000,  //持续时间 2 毫秒
            offset:100,
            center:true
        })
    }

    // vue  上一页 preActive:true,
    // 下一页 nextActive:true
    new Vue({
        el:"#wrapper",
        data:{
            entity: {}
        },
        //页面方法
        created: function (){
            //从缓存取出usr信息
            this.user=JSON.parse(localStorage.getItem('user'));

        },
        methods: {

            updatePassword:function (){
                if(!this.entity.password || this.entity.password== ''){
                    msg("waring","请输入原密码")
                    return;
                }
                if(!this.entity.newpassword || this.entity.newpassword== ''){
                    msg("waring","请输入新密码")
                    return;
                }
                if(!this.entity.new2password || this.entity.new2password==''){
                    msg("waring","请输入密码")
                    return;
                }
                if(this.entity.newpassword != this.entity.new2password){
                    msg("waring","密码不一致")
                    return;
                }
                axios.put("/updatePassword",this.entity).then(res =>{
                    if(res.data.code ==='0'){
                        msg("success","密码修改成功");
                        window.location = 'end/page/login.html'
                    }else {
                        msg("error",res.data.msg);
                    }
                })

            }

        }
    })
</script>
</body>
</html>


<script>
    import Index from "../../js/element";
    export default {
        components: {Index}
    }
</script>